@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background-image: url('https://new.express.adobe.com/webpage/DMVgkp7CXqbrJ/resources/4aae8b4d-a428-4343-9429-540d155aa3b5-4568px?asset_id=4aae8b4d-a428-4343-9429-540d155aa3b5&image_assets=false&size=4568');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.20); /* Dark overlay */
    z-index: 1;
}
